<% content_for :title, @recipe.title %>

<h1><%= @recipe.title %></h1>

<% if @recipe.description.present? %>
  <p><%= @recipe.description %></p>
<% end %>

<dl>
  <% if @recipe.servings.present? %>
    <dt>Servings</dt>
    <dd><%= @recipe.servings %></dd>
  <% end %>
  <% if @recipe.prep_time.present? %>
    <dt>Prep time</dt>
    <dd><%= @recipe.prep_time %> minutes</dd>
  <% end %>
</dl>

<%= link_to "Back to recipes", recipes_path %>

<% if current_user == @recipe.user %>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
